@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	transition: .3s;
}
body{
	font-family: 'Josefin Sans', sans-serif;
}
title{
	font-family: 'Josefin Sans', sans-serif;
}

.container{
	width: 1140px;
	margin: auto;
}

.home-area{
	background-image: url(./two.jpg);
	height: 730px;
	background-size: cover;

}

.dark-overlay{
	background-color: rgba(0, 0, 0, .7);
	height: 730px;

}
.heading{
 padding-top: 30px;
}
.heading h1{
	color: #91b7df;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
    
    font-style: bold;

}
.heading p{
	color: #91b7df;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: bold;
    font-style: bold;

}
.currencyInput{
	text-decoration: none;
 font-weight: 900;
 font-size: 14px;
 text-align: center;
 padding: 12px 20px;
 cursor: pointer;
 text-transform: uppercase;
 border-radius: 5px;
 display: inline-block;
 margin-right: 50px;
 background-image: linear-gradient(to right,#073849 0%,#304ca9 100%);
 box-shadow: 0 10px 30px rgba(118,85,225,.3);
 }

input{
    
   text-align: center;

}

 input#tk {
    
    font-size: medium;
    font-weight: bold;
 
}
input#dolar {

	font-size: medium;
    font-weight: bold;
}
input#indianRs {
	font-size: medium;
    font-weight: bold;
}
input#netherlandsEuro {
	font-size: medium;
    font-weight: bold;
}
